TWITTER_ACCOUNT_ID=1234567
TWITTER_CONSUMER_KEY=r1TBNu6hwz8Xz8ODDa84axkFf
TWITTER_CONSUMER_SECRET=BW2giLwUQUn6lsoZyY8DS8fTQEdC9iekjCfvf0OMp50ZZIU9pR
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAABgHUQEAAAAAchNGsNi9NC%2BJhtb4wIjFs7khHJk%3DbOSAmPPp6qmL6pomfPuvUF0DGrn6cpbsckfB0DSayWxg2nhzWd
TWITTER_ACCESS_TOKEN=1191707351524491265-fyAUXAhT6EQXYnMk1wf6a3uEIerynu
TWITTER_ACCESS_TOKEN_SECRET=ntZXgYK4lTwsWaCpWzQmXB5eQW6YT7uk2YjxOEEUtsKqH
