<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/10.0/configuration.html -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        colors="true">

    <php/>

    <testsuites>
        <testsuite name="main">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <logging>
        <testdoxHtml outputFile="results/testdox.html"/>
    </logging>

</phpunit>
